@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 1200px;
    padding: 0 12px;
    margin: 0 auto;
}

.container {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #A80874;
}

button {
    padding: 12px 16px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    color: white;
    background-color: #A80874;
}
/* 
header {
    height: calc(100vh - 100px);
} */



/*

NAVIGATION

*/

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.logo {
    color: #A80874;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 250px;
}

.nav__link {
    font-size: 24px;
    transition: all 400ms ease;
}

.nav__link:hover {
    filter: brightness(85%);
    transform: scale(1.1);
}

.btn__browse {
    transition: all 400ms ease;
}

.btn__browse:hover {
    filter: brightness(85%);
    transform: scale(1.1);
}

/*

CONTAINER

*/

.title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
}

.sub-title {
    margin-bottom: 40px;
    color: #505050;
}

/*

INPUT

*/

.input__container {
    width: 50vw;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

input {
    width: 100%;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 1rem 2rem;
    height: 50px;
}

.input__button {
    border-radius: 9999px;
    position: absolute;
    right: 5px;
    top: 7%;
}

/*

MOVIE GRID

*/

.grid__wrapper {
    margin-top: 56px;
    overflow: hidden;
}

.grid__img {
    background-size: 100%;
    height: 300px;
    animation: scroll-grid 120s linear infinite alternate;
}

@keyframes scroll-grid {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100vw, 0, 0);
    }
}

/*

MOVIE

*/
.movies__row {
    padding: 0 108px;
}


.movies__wrapper {
    /* margin-top: 30px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
}

.movie {
    width: 100%;
    max-width: calc(100%/3);
    margin-bottom: 30px;
    display: flex;
    padding: 24px;
}

.movie__img--wrapper {
    width: 100%;
    /* max-height: 300px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__img {
    width: 100%;
    height: 100%;
    display: block;
}

.movie__content {
    font-size: 24px;
    width: 100%;
    height:100% ;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 300ms ease;
}

.movie__content:hover {
    opacity: 1;
}


/*


MOVIE PAGE



*/

.text-purple {
    color: #A80874;
}

.movie__deets--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie__info__wrapper {
    margin-left: 24px;
    max-width: 60vw;
}

.movie__title {
    margin-bottom: 16px;
}

.detail-list {
    margin-bottom: 8px;
}